<div class="section-container">
  <dahsboard-new-course-form
    *ngIf="showForm"
    (submitted)="onFormSubmitted()"
    class="add-course-form-container"
  ></dahsboard-new-course-form>

  <div class="section-options">
    <h1 class="main-component-title">Courses</h1>
    <button *ngIf="!showForm" (click)="onAddCourse()">
      + <img src="/assets/svg/avatar.svg" alt="" />
    </button>
  </div>

  <section class="student-section component-gral">
    <div>
      <table class="table table-dark students-table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Course</th>
            <th scope="col">Field</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td scope="row">
              {{ course.id }}
            </td>
            <td>
              {{ course.name }}
            </td>
            <td>
              {{ course.field }}
            </td>
            <td>
              {{ course.description }}
            </td>
            <td>
              <img
                class="student-edit"
                src="/assets/png/edit_white.png"
                alt="Edit"
              />
            </td>
            <td>
              <img
                class="table-delete-button"
                src="/assets/svg/trash.svg"
                alt="Delete"
                appInlineSvg
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
