<nav class="navbar component-gral">
  <ul class="navbar-options">
    <li>
      <a routerLink="/dashboard/home" href="">
        <img src="/assets/png/home_white.png" alt="" />
        <h3>Home</h3>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/students" href="">
        <img src="/assets/png/student_white.png" alt="" />
        <h3>Students</h3>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/courses" href="">
        <img src="/assets/png/courses_white.png" alt="" />
        <h3>Courses</h3>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/users" href="">
        <img src="/assets/png/avatar_placeholder_white.png" alt="" />
        <h3>Careers</h3>
      </a>
    </li>
  </ul>
</nav>
