<div class="section-container">
  <app-new-student-form
    *ngIf="showForm"
    (submitted)="onFormSubmitted()"
  ></app-new-student-form>
  <div class="section-options">
    <h1 class="main-component-title">Students</h1>
    <button
      *ngIf="!showForm"
      class="entity-add-button"
      (click)="onAddStudent()"
    >
      +
      <mat-icon svgIcon="avatar" class="add-svg"></mat-icon>
    </button>
  </div>
  <section class="student-section component-gral">
    <div>
      <table class="table table-dark students-table">
        <thead>
          <tr>
            <th scope="col">Student</th>
            <th scope="col">Course</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
            <th scope="col">Attendance</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <th scope="row">
              <div class="d-flex flex-row gap-3">
                <mat-icon svgIcon="avatar" class="student-img"></mat-icon>
                <div class="d-flex flex-row gap-1">
                  <p>{{ student.name }}</p>
                  <p>{{ student.lastName }}</p>
                </div>
              </div>
            </th>
            <td class="student-career">
              {{ getStudentCoursesNames(student) }}
            </td>
            <td>
              {{ student.location }}
            </td>
            @if (student.online == true) {
            <td class="student-online">Online</td>
            } @else{
            <td class="student-offline">Offline</td>
            }
            <td
              class="student-presenteeism"
              *ngIf="student.presenteeism !== undefined; else elseBlock"
            >
              <div
                [ngClass]="{
                  lowAttendance: student.presenteeism < 90,
                  highAttendance:
                    student.presenteeism >= 90 && student.presenteeism < 100,
                  fullAttendance: student.presenteeism == 100
                }"
              >
                {{ student.presenteeism || "N/A" }}
              </div>
            </td>
            <ng-template class="udefined-presenteeism" #elseBlock>
              <td class="noAttendance">N/A</td>
            </ng-template>
            <td>
              <img
                class="student-edit"
                src="/assets/png/edit_white.png"
                alt="Edit"
                [routerLink]="[student.id]"
                aria-label="Editar estudiante"
              />
            </td>
            <td>
              <shared-confirm-dialog-button
                [entityName]="student.name"
                [studentId]="student.id!"
                (confirmed)="deleteStudent($event)"
              >
              </shared-confirm-dialog-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
