.navbar{
    padding: 1rem 0 1rem 1rem;
    border-radius: 0.5rem;
    background-color: hsl(1deg, 1%, 4%);
    & .navbar-options{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        list-style: none;
        padding: 0;
        width: 100%;
        gap: 1rem;
        margin: 0;
        & li{
            position: relative;
            font-size: small;
            font-weight: 700;
            padding: 1rem 0 1rem 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: 1rem;
            filter: drop-shadow(0 0 .3rem transparent);
            border-radius: .5rem 0 0 .5rem;
            cursor: pointer;
            & img{
                width: 24px;
                height: 24px;
                border-radius: 0;
            }
            & h3{
                margin: 0;
                font-size: 1.2rem;
                text-align: end;
            }
            &:hover{
                background:rgba(242, 24, 84, .1);
                color: rgba(242, 24, 84, 1);
                & img{
                    & svg{
                        fill: rgba(242, 24, 84, 1) !important;
                    }
                }
            }
            &:active{
                background:rgba(242, 24, 84, .1);
                color: rgba(242, 24, 84, 1);
                & img{
                    & svg{
                        fill: rgba(242, 24, 84, 1) !important;
                    }
                }
            }
        }
    }
}