<nav class="navbar component-gral">
  <ul class="navbar-options">
    <li>
      <img src="/assets/png/home_white.png" alt="" />
      <h3>Home</h3>
    </li>
    <li>
      <img src="/assets/png/student_white.png" alt="" />
      <h3>Students</h3>
    </li>
    <li>
      <img src="/assets/png/teacher_white.png" alt="" />
      <h3>Teachers</h3>
    </li>
    <li>
      <img src="/assets/png/courses_white.png" alt="" />
      <h3>Courses</h3>
    </li>
    <li>
      <img src="/assets/png/career_white.png" alt="" />
      <h3>Careers</h3>
    </li>
  </ul>
</nav>
