.directives-test-container{
    opacity: .2;
}

.user-list{
    padding: 30px;
}

.error{
    padding: 30px;
    color: red;
    background-color: hsl(0, 100%, 20%);
}

.success{
    padding: 30px;
    color: hsl(120, 100%, 35%);
    background-color: hsl(120, 100%, 15%);
}