<h2>Add Sudent</h2>
<form class="add-course-form" [formGroup]="newCourseForm" (ngSubmit)="submit()">
  <div>
    <div>
      <mat-form-field class="form-course-name">
        <mat-label>Course Name</mat-label>
        <input
          matInput
          placeholder="Course Name"
          type="text"
          formControlName="name"
        />
      </mat-form-field>
      @if (isNameInvalid) {
      <div class="form-error-message">
        @if (nameControl?.hasError('required')) {
        <span>A name is required</span>
        }@else if (nameControl?.hasError('minlength')) {
        <span>Name must have 3 characters</span>
        }@else if (nameControl?.hasError('maxlength')) {
        <span>Name must have less than 20 characters</span>
        }
      </div>
      @if (!isNameInvalid) {
      <div class="form-error-message">
        <span style="color: transparent">Nothing wrong</span>
      </div>
      } }
    </div>

    <div>
      <mat-form-field class="form-course-field">
        <mat-label>Field</mat-label>
        <input
          matInput
          placeholder="Field"
          type="text"
          formControlName="field"
        />
      </mat-form-field>
      @if (isIdInvalid) {
      <div class="form-error-message">
        @if (idControl?.hasError('required')) {
        <span>A Field is required</span>
        }@else if (idControl?.hasError('minlength')) {
        <span>Name must have 3 characters</span>
        }@else if (idControl?.hasError('maxlength')) {
        <span>Name must have less than 20 characters</span>
        }
      </div>
      }
    </div>
  </div>

  <mat-form-field class="form-course-description" aria-placeholder="Alo">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="This is a very important field to the world security and peace"
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <button mat-raised-button class="submit-button" type="submit">Submit</button>
</form>
