.section-container{
    height: clamp(auto, 100%, 500px);
    & .section-options{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        & button {
            border: 1px solid transparent;
            border-radius: 999px;
            padding: .3rem 1rem;
            max-height: 4rem;
            background-color: hsl(1deg, 1%, 10%);
            color: white;
            width: 100px;
            filter: drop-shadow(0px 3px 5px transparent);
            transition: all .25s ease-in;
            &:hover{
                font-weight: 800;
                border: 1px solid white;
                filter: drop-shadow(0px 3px 5px hsl(1deg, 1%, 25%));
            }
        }
    }

    .student-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}

.students-table {
    border-radius: .5rem;
    overflow:  hidden;
    padding: 1rem;
    margin: 0;
    --bs-table-bg: hsl(210, 11%, 10%);
    & thead{
        & tr{
            & th{
                padding: 1rem;
                font-size: 1.2rem;
                font-weight: 500;
                color: hsl(1deg, 1%, 100%); 
                background-color: hsl(1deg, 1%, 4%);
                border-bottom: 2px solid hsl(1deg, 1%, 20%);
            }
        }
    }
    & tbody{
        & tr{
            & th{
                padding: .8rem;
                border-bottom: 2px solid hsl(1deg, 1%, 15%);
                & div{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    & p{
                        font-size: 14px;
                        font-weight: 500;
                        color: hsl(1deg, 1%, 100%); 
                    }
                    & .student-img{
                        aspect-ratio: 1/1;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            & td{
                font-weight: 600;
                padding: .8rem;
                border-bottom: 2px solid hsl(1deg, 1%, 15%);
                & .student-edit{
                        fill: white;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                }
            }
            & .student-presenteeism{

                & div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 99px;

                }
                & .student-online{
                    color: #10c210;
                }
                & .student-offline{
                    color: #ee0000;
                }
                & .lowAttendance{
                    color: #ee0000;
                }
                & .highAttendance{
                    color: #10c210;
                }
                & .fullAttendance{
                    color: #f2c024;
                    text-shadow: 0px 0px 20px #f2c024;
                }
            }

        }
    }

    & *{
        background-color: hsl(1deg, 1%, 6%);
    }
}


