<section>
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>

        <p>¿No tenés cuenta? <a routerLink="/register">Registrate acá</a></p>

        <button mat-flat-button type="submit">Login</button>
      </div>
    </form>
  </mat-card>
</section>
