

main {
    width: 100vw;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    background-color: hsl(1deg, 1%, 0%);
}







// @media screen and (max-width: 650px) {

// }