.student-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.students-table {
    border-radius: .5rem;
    overflow:  hidden;
    padding: 1rem;
    margin: 0;
    --bs-table-bg: hsl(210, 11%, 10%);
    & thead{
        & tr{
            & th{
                padding: 1rem;
                font-size: 1.2rem;
                font-weight: 500;
                color: hsl(1deg, 1%, 100%); 
                background-color: hsl(1deg, 1%, 4%);
                border-bottom: 2px solid hsl(1deg, 1%, 20%);
            }
        }
    }
    & tbody{
        & tr{
            & th{
                padding: .8rem;
                border-bottom: 2px solid hsl(1deg, 1%, 15%);
                & div{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    & p{
                        font-size: 14px;
                        font-weight: 500;
                        color: hsl(1deg, 1%, 100%); 
                    }
                    & .student-img{
                        aspect-ratio: 1/1;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            & td{
                font-weight: 600;
                padding: .8rem;
                border-bottom: 2px solid hsl(1deg, 1%, 15%);
                & .student-edit{
                        fill: white;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                }
            }
            & .student-online{
                color: #10c210;
            }
            & .student-offline{
                color: #ee0000;
            }
        }
    }
    & .lowAttendance{
        color: #ee0000;
    }
    & .highAttendance{
        color: #10c210;
    }
    & .fullAttendance{
        color: #f2c024;
    }
    & *{
        background-color: hsl(1deg, 1%, 6%);
    }
}
