<div class="section-container">
  <div class="section-options">
    <h1 class="main-component-title">Students</h1>
    <button>+ Add</button>
  </div>
  <section class="student-section component-gral">
    <div>
      <table class="table table-dark students-table">
        <thead>
          <tr>
            <th scope="col">Student</th>
            <th scope="col">Career</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
            <th scope="col">Attendance</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <th scope="row">
              <div class="d-flex flex-row gap-3">
                <img
                  [src]="avatarPlaceholder"
                  alt="Avatar"
                  class="student-img"
                />
                <div class="d-flex flex-row gap-1">
                  <p>{{ student.name }}</p>
                  <p>{{ student.lastName }}</p>
                </div>
              </div>
            </th>
            <td class="student-career">
              <span *ngFor="let careerId of student.careers; let last = last">
                {{ getCareerName(careerId) }}<span *ngIf="!last">, </span>
              </span>
            </td>
            <td>
              {{ student.location }}
            </td>
            @if (student.online == true) {
            <td class="student-online">Online</td>
            } @else{
            <td class="student-offline">Offline</td>
            }
            <td
              class="student-presenteeism"
              [ngClass]="{
                lowAttendance: student.presenteeism < 90,
                highAttendance:
                  student.presenteeism >= 90 && student.presenteeism < 100,
                fullAttendance: student.presenteeism == 100
              }"
            >
              {{ student.presenteeism }}
            </td>
            <td>
              <img
                class="student-edit"
                src="/assets/png/edit_white.png"
                alt="Edit"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
