<form
  [formGroup]="newStudentForm"
  (ngSubmit)="submit()"
  class="form-create-student"
>
  <h2>Create Student</h2>
  <div>
    <div>
      <label for="name">Name</label>
      <input type="text" placeholder="Liam" formControlName="name" required />
        <!-- NAME -->
      @if (isNameInvalid) {
      <div>
        @if (nameControl?.hasError('required')) {
          <span>A name is required</span>
        }
        @if (nameControl?.hasError('minLength')) {
          <span>Name must have 3 characters</span>
        }
        @if (nameControl?.hasError('maxLength')) {
          <span>Name must have less than 20 characters</span>
        }
      </div>    
      }
    </div>
    <label for="lastname">Last Name</label>
    <input
      type="text"
      placeholder="Holland"
      formControlName="lastName"
      required
    />
    <!-- NAME -->
    @if (isLastNameInvalid) {
      <div>
        @if (lastNameControl?.hasError('required')) {
          <span>A last name is required</span>
        }
        @if (lastNameControl?.hasError('minLength')) {
          <span>Last name must have 3 characters</span>
        }
        @if (lastNameControl?.hasError('maxLength')) {
          <span>Last name must have less than 20 characters</span>
        }
      </div>    
      }
  </div>
  <div>
    <label for="ci">C.I.</label>
    <input
      type="number"
      placeholder="1234567-8"
      formControlName="ci"
      required
    />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      placeholder="Frankfurt, Germany"
      formControlName="location"
      required
    />
    <label for="birth">Birth Date</label>
    <input type="date" placeholder="" formControlName="birth" required />
  </div>
  <div class="form-create-student-submition">
    <div class="form-create-student-submition-errors">
      <!-- CI -->
      <span *ngIf="this.newStudentForm.get('ci')?.errors?.['required']">
        Your CI can not be empty
      </span>
      <span *ngIf="this.newStudentForm.get('ci')?.errors?.['correctCI']">
        CI number must be 8 characters long
      </span>
    </div>
    <button type="submit" class="form-create-student-submition-button">Create</button>
  </div>
</form>
<div style="color: aliceblue">
  {{ newStudentForm.value | json }}
</div>
