.form-create-student{
    background-color:  hsl(1, 1%, 4%);
    padding: 2rem 2.6rem;
    border-radius: 1rem;
    width: clamp(300px,70vw,800px);
    & label{
        margin-bottom: .6rem;
    }
    & input{
        background-color: hsl(1, 1%, 8%);
        border: 1px solid transparent;
        padding: .3rem .6rem;
        border-radius: .5rem;
        &::-webkit-datetime-edit,
        ::-webkit-datetime-edit-fields-wrapper,
        ::-webkit-datetime-edit-text,
        ::-webkit-datetime-edit-month-field,
        ::-webkit-datetime-edit-day-field,
        ::-webkit-datetime-edit-year-field,
        ::-webkit-inner-spin-button,
        ::-webkit-calendar-picker-indicator{
            color: white;
        }
        &:focus-visible{
            border: 1px solid hsl(1, 1%, 10%);
        }
    }
    & span{
        color:red;
    }
    & button{
        border-radius: 1rem;
        padding: .8rem 1.3rem;
        background-image: linear-gradient(130deg, purple, red);
        color: white;
        font-weight: 700;
        border: 1px solid transparent;
    }
}