<form
  [formGroup]="newStudentForm"
  (ngSubmit)="submit()"
  class="form-create-student"
>
  <h2>Create Student</h2>
  <div>
    <label for="name">Name</label>
    <input type="text" placeholder="Liam" formControlName="name" required />
    <label for="lastname">Last Name</label>
    <input
      type="text"
      placeholder="Holland"
      formControlName="lastName"
      required
    />
  </div>
  <div>
    <label for="ci">C.I.</label>
    <input
      type="number"
      placeholder="1234567-8"
      formControlName="ci"
      required
    />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      placeholder="Frankfurt, Germany"
      formControlName="location"
      required
    />
    <label for="birth">Birth Date</label>
    <input type="date" placeholder="" formControlName="birth" required />
  </div>
  <button type="submit">Create</button>
</form>
<div style="color: aliceblue">
  {{ newStudentForm.value | json }}
</div>
